{% extends './base.html' %}

{% block title %}

{% endblock %}



{% block content %}
	<section>
		<div class="gap2 gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row merged20" id="page-contents">
							{% include 'partial/user-profile.html' %}<!-- user profile banner  -->
							<div class="col-lg-4 col-md-4">
								<aside class="sidebar">
								<div class="central-meta stick-widget">
									<span class="create-post">Personal Info</span>
									<div class="personal-head">
										<span class="f-title"><i class="fa fa-user"></i> About Me:</span>
										<p>
                                            {{ user.profile.bio }}
										</p>
										
										<span class="f-title"><i class="fa fa-phone"></i> Phone Number:</span>
										<p>
											{{ user.profile.phone }}
										</p>
										
										<span class="f-title"><i class="fa fa-male"></i> Gender:</span>
										<p>
                                            {{ user.profile.gender|capfirst }}
										</p>
										
										<span class="f-title"><i class="fa fa-handshake-o"></i> Joined:</span>
										<p>
                                            {{ user.profile.created_at }}
										</p>
									</div>
								</div>
								</aside>
							</div>
							<div class="col-lg-8 col-md-8">
								<div class="central-meta">
									<span class="create-post">Friend's (320) <a href="timeline-friends2.html" title="">See All</a></span>
									<ul class="frndz-list">
										<li>
											<img src="images/resources/recent1.jpg" alt="">
											<div class="sugtd-frnd-meta">
												<a href="#" title="">Olivia</a>
												<span>1 mutual friend</span>
												<ul class="add-remove-frnd">
													<li class="add-tofrndlist"><a class="send-mesg" href="#" title="Send Message"><i class="fa fa-commenting"></i></a></li>
													<li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
												</ul>
											</div>
										</li>
										<li>
											<img src="images/resources/recent2.jpg" alt="">
											<div class="sugtd-frnd-meta">
												<a href="#" title="">Emma watson</a>
												<span>2 mutual friend</span>
												<ul class="add-remove-frnd">
													<li class="add-tofrndlist"><a class="send-mesg" href="#" title="Send Message"><i class="fa fa-commenting"></i></a></li>
													<li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
												</ul>
											</div>
										</li>
										<li>
											<img src="images/resources/recent3.jpg" alt="">
											<div class="sugtd-frnd-meta">
												<a href="#" title="">Isabella</a>
												<span><a href="#" title="">Emmy</a> is mutual friend</span>
												<ul class="add-remove-frnd">
													<li class="add-tofrndlist"><a class="send-mesg" href="#" title="Send Message"><i class="fa fa-commenting"></i></a></li>
													<li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
												</ul>
											</div>
										</li>
										<li>
											<img src="images/resources/recent4.jpg" alt="">
											<div class="sugtd-frnd-meta">
												<a href="#" title="">Amelia</a>
												<span>5 mutual friend</span>
												<ul class="add-remove-frnd">
													<li class="add-tofrndlist"><a class="send-mesg" href="#" title="Send Message"><i class="fa fa-commenting"></i></a></li>
													<li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
												</ul>
											</div>
										</li>
										<li>
											<img src="images/resources/recent5.jpg" alt="">
											<div class="sugtd-frnd-meta">
												<a href="#" title="">Sophia</a>
												<span>1 mutual friend</span>
												<ul class="add-remove-frnd">
													<li class="add-tofrndlist"><a class="send-mesg" href="#" title="Send Message"><i class="fa fa-commenting"></i></a></li>
													<li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
												</ul>
											</div>
										</li>
										<li>
											<img src="images/resources/recent6.jpg" alt="">
											<div class="sugtd-frnd-meta">
												<a href="#" title="">Amelia</a>
												<span>3 mutual friend</span>
												<ul class="add-remove-frnd">
													<li class="add-tofrndlist"><a class="send-mesg" href="#" title="Send Message"><i class="fa fa-commenting"></i></a></li>
													<li class="remove-frnd"><a href="#" title="remove friend"><i class="fa fa-user-times"></i></a></li>
												</ul>
											</div>
										</li>
									</ul>
								</div><!-- friends list -->
								<div class="central-meta">
									<span class="create-post">Photos ({{ images.count }}) <a href="timeline-photos.html" title="">See All</a></span>
									<ul class="photos-list">
                                        {% for image in images %}
                                        	<li>
											<div class="item-box">
												<a class="strip" href="{{ image.image.url }}" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="{{ image.image.url }}" alt="" style="width: 130px;height: 98px"></a>
												<div class="over-photo">
													<div class="likes heart" title="Like/Dislike">❤ <span>15</span></div>
													<span>20 hours ago</span>
												</div>
											</div>
										</li>
                                        {% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- content -->

{% endblock %}