{% load comment_tags %}
{% load custom_filters %}
<li>
    <div class="comet-avatar">
        <img src="{{ comment.user.profile.avatar.url }}" alt="">
    </div>
    <div class="we-comment">
        <h5><a href="time-line.html" title="">{{ comment.user.username }}</a></h5>
        <p>{{ comment.content }}</p>
        <div class="inline-itms">
            <span>{{ comment.created_at|timesince_filter }} ago</span>
            <!-- Nút Like và số lượt like -->
            <a href="#" class="like-btn" data-comment-id="{{ comment.id }}">
                {% if comment.id in liked_comments_ids %}
                    Unlike
                {% else %}
                    Like
                {% endif %}
            </a>
            <span class="like-count">{{ comment.likes.count }}</span> <!-- Hiển thị số lượt like -->
            <a href="#" class="reply-btn" data-comment-id="{{ comment.id }}">Reply</a>
        </div>
    </div>

    {% if comment.replies.all %}
        <ul class="we-comet" style="margin-left: 40px;">
            {% for reply in comment.replies.all %}
                {% include 'comments/comment_recursive.html' with comment=reply liked_comments_ids=liked_comments_ids %}
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Form reply ẩn -->
    <div class="reply-form-container" style="display: none;">
        <form class="reply-form" method="POST">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ comment.post.id }}">
            <input type="hidden" name="parent_id" value="{{ comment.id }}">
            <textarea name="content" placeholder="Write a reply..."></textarea>
            <button type="submit" style="color: black">Reply</button>
        </form>
    </div>
</li>
