{% extends './base.html' %}

{% block title %}
    New Password
{% endblock %}


{% block form %}
    <!-- ============================ COMPONENT LOGIN   ================================= -->
    
            <h4 class="card-title mb-4">New Password</h4>
            <form class="we-form" method="POST">
                {% csrf_token %}
                
                    {% load widget_tweaks %}

                    {% for f in form %}
                        
                            {% render_field f placeholder=f.label %}
                        

                    {% endfor %}



                

                {% if messages %}
                   
                        {% for message in messages %}
                            <p href="#" class="alert alert-danger">{{ message }}</p>
                        {% endfor %}
                    
                {% endif %}

                
                    <button type="submit" class="btn btn-primary btn-block"> Submit</button>
                
            </form>
    

    <p class="text-center mt-4">Don't have account? <a href="{% url 'user_register' %}">Sign up</a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->

{% endblock %}