{% extends './base.html' %}

{% block title %}
    Forgot password
{% endblock %}


{% block form %}
    <!-- ============================ COMPONENT LOGIN   ================================= -->
    
            
            <form method="POST">
                {% csrf_token %}
                
                    <h3>Password changed complete</h3>

                


                {% if messages %}
                    
                        {% for message in messages %}
                            <p href="#" class="alert alert-danger">{{ message }}</p>
                        {% endfor %}
                    
                {% endif %}


            </form>
 

    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->

{% endblock %}