{% extends './base.html' %}

{% block title %}
    Forgot password
{% endblock %}


{% block form %}
    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <form class="we-form" method="POST">
        {% csrf_token %}

        {% load widget_tweaks %}

        {% for f in form %}
            {% render_field f placeholder=f.label %}
        {% endfor %}


        {% if messages %}
            <div class="form-group">
                {% for message in messages %}
                    <p href="#" class="alert alert-danger">{{ message }}</p>
                {% endfor %}
            </div> <!-- form-group form-check .// -->
        {% endif %}

        <button type="submit"> Submit</button>

    </form>
    <p class="forgot underline">Don't have account? <a href="{% url 'user_register' %}">Sign up</a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->

{% endblock %}

{% block description %}
	Recovery password via email
{% endblock %}
