{% extends './base.html' %}

{% block title %}
    Forgot password
{% endblock %}


{% block form %}
    <!-- ============================ COMPONENT LOGIN   ================================= -->
    
            <h4 class="card-title mb-4">Email already sent, check your mail</h4>
            
                
                
                


                {% if messages %}
                    
                        {% for message in messages %}
                            <p href="#" class="alert alert-danger">{{ message }}</p>
                        {% endfor %}
                   
                {% endif %}


     

    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->

{% endblock %}