{% load static %}
<div class="user-profile">
    <figure>
        <img src="{{ user.profile.background_image.url }}" alt="" style="max-height: 400px">
        <ul class="profile-controls">
            <li><a href="#" title="Add friend" data-toggle="tooltip"><i class="fa fa-user-plus"></i></a></li>
            <li><a href="#" title="Follow" data-toggle="tooltip"><i class="fa fa-star"></i></a></li>
            <li><a class="send-mesg" href="#" title="Send Message" data-toggle="tooltip"><i
                    class="fa fa-comment"></i></a></li>
            <li>
                <div class="edit-seting" title="Edit Profile image"><i class="fa fa-sliders"></i>
                    <ul class="more-dropdown">
                        <li><a href="setting.html" title="">Update Profile Photo</a></li>
                        <li><a href="setting.html" title="">Update Header Photo</a></li>
                        <li><a href="setting.html" title="">Account Settings</a></li>
                        <li><a href="support-and-help.html" title="">Find Support</a></li>
                        <li><a class="bad-report" href="#" title="">Report Profile</a></li>
                        <li><a href="#" title="">Block Profile</a></li>
                    </ul>
                </div>
            </li>
        </ul>

    </figure>

    <div class="profile-section">
        <div class="row">
            <div class="col-lg-2 col-md-3">
                <div class="profile-author">
                    <div class="profile-author-thumb">
                        <img alt="author" src="{{ user.profile.avatar.url }}">
                    </div>

                    <div class="author-content">
                        <a class="h4 author-name" href="{% url 'user-profile' %}">{{ profile.user.username }}</a>
                        <div class="country">Việt Nam, Hồ Chí Minh</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-md-9">
                <ul class="profile-menu">
                    <li>
                        <a class="" href="timeline.html">Timeline</a>
                    </li>
                    <li>
                        <a class="{% if profile %}active{% endif %}" href="{% url 'user-profile' %}">About</a>
                    </li>
                    <li>
                        <a class="" href="timeline-friends.html">Friends</a>
                    </li>
                    <li>
                        <a class="{% if photos %}active{% endif %}" href="{% url 'user_photos' user.id %}">Photos</a>
                    </li>
                    <li>
                        <a class="" href="timeline-videos.html">Videos</a>
                    </li>
                    <li>
                        <a class="" href="{% url 'edit-profile' %}">Edit Profile</a>
                    </li>
                </ul>
                <ol class="folw-detail">
                    <li><span>Posts</span>
                        <ins>{{ posts.count }}</ins>
                    </li>
                    <li><span>Followers</span>
                        <ins>1.3K</ins>
                    </li>
                    <li><span>Following</span>
                        <ins>22</ins>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>