{% extends './base.html' %}

{% block title %}
	Change password
{% endblock %}


{% block content %}
	<div class="container mt-3" style="min-height: 70vh;">
        <h2 class="mt-3">Change password</h2>

        <form action="" class="we-form mt-3" method="POST">
            {% csrf_token %}
            <input type="password" placeholder="Current password">

            <input type="password" placeholder="New password">
            <input type="password" placeholder="Confirm password">
            <button class="btn btn-primary" style="background-color: #0a53be; color: #fff">Submit</button>
        </form>
    </div>
{% endblock %}