{% extends './chat-base.html' %}


{% block title %}

{% endblock %}


{% block content %}
    <section>
        <div class="gap2 no-gap gray-bg">
            <div class="container-fluid no-padding">
                <div class="row my-3">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-9">
                        <div class="tab-content messenger">
                            <div class="tab-pane active fade show " id="link1">
                                <div class="row merged">
                                    <div class="col-lg-12">
                                        <div class="mesg-area-head">
                                            <div class="active-user">
                                                <figure><img src="{{ target_user.profile.avatar.url }}" alt="">
                                                    <span class="status f-online"></span>
                                                </figure>
                                                <div>
                                                    <h6 class="unread">
                                                        {% if request.user == user1 %}
                                                            {{ user2.first_name }} {{ user2.last_name }}
                                                        {% else %}
                                                            {{ user1.first_name }} {{ user1.last_name }}
                                                        {% endif %}
                                                    </h6>
                                                    <span>Online</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="mesge-area">
                                            <ul class="conversations">
                                                {% for message in messages %}
                                                    <li class="{% if request.user == message.user %}me{% else %}you{% endif %}">
                                                        <figure><img src="{{ message.user.profile.avatar.url }}" alt="">
                                                        </figure>
                                                        <div class="text-box">
                                                            <p>{{ message.content }}</p>
                                                            <span><i class="ti-check"></i><i
                                                                    class="ti-check"></i> {{ message.timestamp|date:"b d, Y h:i A"|capfirst }}</span>
                                                        </div>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </div>
                                        <div class="message-writing-box">
                                            <form id="chat-form">
                                                <div class="text-area" style="width: 97%">
                                                    <input type="text" id="chat-message-input"
                                                           placeholder="write your message here..">
                                                    <button id="chat-message-submit" type="submit"><i
                                                            class="fa fa-paper-plane-o"></i></button>
                                                </div>

                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- content -->

{% endblock %}


{% block scripts %}
    <script>
        // Truyền tên người dùng hiện tại từ Django vào JavaScript
        const currentUser = "{{ request.user.username|escapejs }}";
        const currentUserAvatar = '{{ request.user.profile.avatar.url }}'
        const roomName = "{{ room.id }}";
        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data)
            const meOrYou = currentUser === data.sender ? 'me' : 'you'
            const avatarUrl = data.avatar_url

            let html = `<li class="${meOrYou}">
                            <figure><img src="${avatarUrl}" alt=""></figure>
                            <div class="text-box">
                                <p>${data.message}</p>
                                <span><i class="ti-check"></i><i
                                        class="ti-check"></i> ${data.timestamp}</span>
                            </div>
                        </li>`
            const conversationElement = document.querySelector('.conversations');
            conversationElement.innerHTML += html;

            // Cuộn xuống cuối cùng của danh sách khi có tin nhắn mới
            conversationElement.scrollTop = conversationElement.scrollHeight;
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input')

        document.querySelector('#chat-form').onsubmit = function (e) {
            e.preventDefault();
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}