{% extends './base.html' %}
{% load static %}
{% block title %}

{% endblock %}

{% block content %}
    <section>
        <div class="gap2 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row merged20" id="page-contents">
                            <div class="col-lg-3">
                                <aside class="sidebar static left">
                                    <div class="widget">
                                        <div class="weather-widget low-opacity bluesh">
                                            <div class="bg-image"
                                                 style="background-image: url(images/resources/weather.jpg)"></div>
                                            <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                                            <div class="weather-week">
                                                <div class="icon sun-shower">
                                                    <div class="cloud"></div>
                                                    <div class="sun">
                                                        <div class="rays"></div>
                                                    </div>
                                                    <div class="rain"></div>
                                                </div>
                                            </div>
                                            <div class="weather-infos">
                                                <span class="weather-tem">25</span>
                                                <h3>Cloudy Skyes<i>Sicklervilte, New Jersey</i></h3>
                                                <div class="weather-date skyblue-bg">
                                                    <span>MAY<strong>21</strong></span>
                                                </div>
                                            </div>
                                            <div class="monthly-weather">
                                                <ul>
                                                    <li>
                                                        <span>Sun</span>
                                                        <a href="#" title=""><i class="wi wi-day-sunny"></i></a>
                                                        <em>40°</em>
                                                    </li>
                                                    <li>
                                                        <span>Mon</span>
                                                        <a href="#" title=""><i class="wi wi-day-cloudy"></i></a>
                                                        <em>10°</em>
                                                    </li>
                                                    <li>
                                                        <span>Tue</span>
                                                        <a href="#" title=""><i class="wi wi-day-hail"></i></a>
                                                        <em>20°</em>
                                                    </li>
                                                    <li>
                                                        <span>Wed</span>
                                                        <a href="#" title=""><i class="wi wi-day-lightning"></i></a>
                                                        <em>34°</em>
                                                    </li>
                                                    <li>
                                                        <span>Thu</span>
                                                        <a href="#" title=""><i class="wi wi-day-showers"></i></a>
                                                        <em>22°</em>
                                                    </li>
                                                    <li>
                                                        <span>Fri</span>
                                                        <a href="#" title=""><i class="wi wi-day-windy"></i></a>
                                                        <em>26°</em>
                                                    </li>
                                                    <li>
                                                        <span>Sat</span>
                                                        <a href="#" title=""><i
                                                                class="wi wi-day-sunny-overcast"></i></a>
                                                        <em>30°</em>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div><!-- Weather Widget -->
                                    </div><!-- weather widget-->
                                    <div class="widget whitish low-opacity">
                                        <div style="background-image: url(images/resources/dob2.png)"
                                             class="bg-image"></div>
                                        <div class="dob-head">
                                            <img src="images/resources/sug-page-5.jpg" alt="">
                                            <span>22nd Birthday</span>
                                            <div class="dob">
                                                <i>19</i>
                                                <span>September</span>
                                            </div>
                                        </div>
                                        <div class="dob-meta">
                                            <figure><img src="images/resources/dob-cake.gif" alt=""></figure>
                                            <h6><a href="#" title="">Lucy Carbel</a> valentine's birthday</h6>
                                            <p>leave a message with your best wishes on his profile.</p>
                                        </div>
                                    </div><!-- birthday widget -->

                                </aside>
                            </div><!-- sidebar -->
                            <div class="col-lg-6">
                                <div class="central-meta postbox">
                                    <span class="create-post">Create post</span>
                                    <form class="new-postbox" method="post" enctype="multipart/form-data" id="postForm">
                                        <figure>
                                            <img src="{{ request.user.profile.avatar.url }}" alt="">
                                        </figure>
                                        <div class="newpst-input">

                                            <textarea id="content" name="content" rows="2"
                                                      placeholder="Share some what you are thinking?"></textarea>

                                        </div>
                                        <div class="attachments">
                                            <ul>

                                                <li>
                                                    <i class="fa fa-image"></i>
                                                    <label class="fileContainer">
                                                        <input id="images" name="images" type="file" multiple>
                                                    </label>
                                                </li>

                                                <li>
                                                    <i class="fa fa-camera"></i>
                                                    <label class="fileContainer">
                                                        <input type="file">
                                                    </label>
                                                </li>
                                            </ul>
                                            <button id="createPostBtn" class="post-btn" type="submit" data-ripple="">
                                                Post
                                            </button>
                                        </div>
                                        <div class="add-location-post">
                                            <span>Drag map point to selected area</span>
                                            <div class="row">

                                                <div class="col-lg-6">
                                                    <label class="control-label">Lat :</label>
                                                    <input type="text" class="" id="us3-lat"/>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Long :</label>
                                                    <input type="text" class="" id="us3-lon"/>
                                                </div>
                                            </div>
                                            <!-- map -->
                                            <div id="us3"></div>
                                        </div>
                                    </form>
                                </div><!-- add post new box -->

                                <div class="loadMore" id="loadMore">

                                </div>
                                <button id="load-more-btn" data-next-url="/api/posts/?page=2"
                                        class="btn-view btn-load-more"></button>
                            </div><!-- centerl meta -->
                            <div class="col-lg-3">
                                <aside class="sidebar static right">

                                </aside>
                            </div><!-- sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
{% block popups %}
    <div class="modal fade" id="img-comt">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="pop-image">
                                <div class="pop-item">
                                    <img style="width: 100%" src="{% static 'images/resources/blog.jpg' %}"
                                         alt="Image 1">
                                </div>
                                <div class="pop-item">
                                    <img style="width: 100%" src="{% static 'images/resources/blog2.jpg' %}"
                                         alt="Image 2">
                                </div>
                            </div>
                            <div class="button-container">
                                <button class="prev-btn">Previous</button>
                                <button class="next-btn">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- The Scrolling Modal image with comment -->

{% endblock %}

{% block scripts %}
    
    <!-- like ảnh -->
    <script>
        $(document).ready(function () {
            // Sử dụng sự kiện on để xử lý click cho các phần tử động
            $(document).on('click', '.likes.heart', function () {
                const postId = $(this).data('post-id');
                const button = $(this);

                $.ajax({
                    type: 'POST',
                    url: `/like/${postId}/`,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'  // Thêm CSRF token
                    },
                    success: function (response) {
                        button.find('.like-count').text(response.like_count); // Cập nhật số lượng like
                        // Cập nhật trạng thái của nút like
                        console.log('like thanh cong')
                        if (response.liked) {
                            button.addClass('happy'); // Thêm lớp 'liked' nếu đã thích
                            
                        } else {
                            button.removeClass('happy'); // Xóa lớp 'liked' nếu đã bỏ thích
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.responseJSON.error); // Hiển thị thông báo lỗi nếu có
                    }
                });
            });
        });
    </script>
    <!-- hiện modal ảnh -->
    <script>
        $(document).ready(function () {
            // Sử dụng delegation để gán sự kiện cho các phần tử mới
            $(document).on('click', '.post-image', function (event) {
                event.preventDefault();

                // Lấy danh sách ảnh của bài viết từ thuộc tính data-images
                const postImages = JSON.parse($(this).attr('data-images'));
                console.log(postImages)
                $('.pop-image').empty()
                postImages.forEach(function (imageURL, index) {
                    let item = `
                    <div class="pop-item">
                        <img style="width: 100%" src="${imageURL}"
                             alt="Image 1">
                    </div>
                    `
                    $('.pop-image').append(item)
                })
                const popItems = document.querySelectorAll('.pop-item');
                const prevBtn = document.querySelector('.prev-btn');
                const nextBtn = document.querySelector('.next-btn');
                let currentItem = 0;

                function showItem(index) {
                    popItems.forEach((item, i) => {
                        if (i === index) {
                            item.style.display = 'block';
                        } else {
                            item.style.display = 'none';
                        }
                    });
                }

                nextBtn.addEventListener('click', () => {
                    currentItem = (currentItem + 1) % popItems.length;
                    showItem(currentItem);
                });

                prevBtn.addEventListener('click', () => {
                    currentItem = (currentItem - 1 + popItems.length) % popItems.length;
                    showItem(currentItem);
                });
            });
        });


    </script>


    <!-- Load post thời điểm ban đầu-->
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '{% url 'post_list' %}?page=1',
                type: 'GET',
                success: function (response) {

                    $('#loadMore').append(response.html)

                },
                error: function (xhr, status, error) {
                    console.error('Failed to load more posts:', error);
                }
            });
        })
    </script>
    <!-- Load thêm từ btn -->
    <script>
        $(document).ready(function () {
            $('#load-more-btn').click(function () {
                var nextPageUrl = $(this).data('next-url');

                if (!nextPageUrl) {
                    return;  // Nếu không có URL tiếp theo, dừng lại
                }

                $.ajax({
                    url: nextPageUrl,
                    type: 'GET',
                    success: function (response) {
                        // Chèn HTML trả về vào phần tử DOM có id là 'loadMore'
                        $('#loadMore').append(response.html);

                        // Cập nhật URL của trang tiếp theo
                        if (response.pagination.next) {
                            $('#load-more-btn').data('next-url', response.pagination.next);
                        } else {
                            $('#load-more-btn').remove();  // Xóa nút nếu không còn trang nào
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to load more posts:', error);
                    }
                });
            });
        });

    </script>

    <!-- Thêm post sau khi dùng chức năng add post -->
    <script>
        $(document).ready(function () {
            $('#createPostBtn').click(function (e) {
                e.preventDefault();

                var form = $('#postForm')[0];  // Lấy form element
                var formData = new FormData(form);  // Tạo FormData để chứa nội dung và hình ảnh

                // Gửi AJAX request
                $.ajax({
                    url: '{% url 'create_post_with_images' %}',  // URL của API Django REST Framework
                    type: 'POST',
                    data: formData,
                    contentType: false,  // Không đặt content-type để tự động chuyển thành multipart/form-data
                    processData: false,  // Không xử lý dữ liệu, để gửi thẳng FormData
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'  // Thêm CSRF token nếu cần
                    },
                    success: function (response) {

                        // Hiển thị thông báo thành công hoặc xử lý khác
                        $('#postForm')[0].reset();
                        $(".postoverlay").fadeOut(500);
                        let item = response.html;
                        $('#loadMore').prepend(item)
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to create post:', error);
                        // Hiển thị thông báo lỗi
                    }
                });
            });
        });
    </script>
    <!-- Xử lý add comment-->
    <script>
        $(document).ready(function () {
            // Xử lý khi form được submit bằng event delegation
            $(document).on('submit', '.comment-form', function (event) {
                event.preventDefault();  // Ngăn form submit theo cách truyền thống

                var $form = $(this);
                var postId = $form.find('input[name="post_id"]').val();
                var content = $form.find('textarea[name="content"]').val();

                $.ajax({
                    url: '{% url 'add_comment' %}',  // URL của view xử lý comment
                    method: 'POST',
                    data: {
                        'post_id': postId,
                        'content': content,
                        'csrfmiddlewaretoken': $form.find('input[name="csrfmiddlewaretoken"]').val(),
                    },
                    success: function (response) {
                        // Chèn comment mới vào danh sách comment
                        if (response.comment_html) {
                            // Tìm đúng <ul> để thêm comment mới
                            var $commentsList = $form.closest('.coment-area').find('.we-comet');
                            // Thêm comment mới vào trước phần tử cuối cùng (form)
                            $commentsList.children('.post-comment').before(response.comment_html);

                            // Cập nhật số đếm comment
                            var $commentCount = $form.closest('.central-meta').find('.comment ins');
                            var currentCount = parseInt($commentCount.text(), 10); // Lấy số đếm hiện tại
                            $commentCount.text(currentCount + 1); // Tăng số đếm lên 1
                            $form.find('textarea[name="content"]').val('');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Failed to post comment:', error);
                    }
                });
            });
        });

    </script>

    <!-- Ẩn hiện comment của post -->
    <script>
        $(document).ready(function () {
            $(document).on('click', '.comment', function () {
                $(this).parents(".post-meta").siblings(".coment-area").slideToggle("slow");
            });
        });

    </script>
{% endblock %}