{% extends './base.html' %}
{% load custom_filters %}
{% block title %}

{% endblock %}

{% block content %}
    <section>
        <div class="gap2 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row merged20" id="page-contents">
                            {% include 'partial/user-profile.html' %}<!-- user profile banner  -->
                            <div class="col-lg-9">
                                <div class="central-meta">
                                    <div class="editing-interest">
                                        <span class="create-post"><i class="ti-bell"></i> All Notifications<a title=""
                                                                                                              href="setting.html">Notifications Setting</a></span>
                                        <div class="notification-box">
                                            <ul>
                                                {% for notification in notifications %}
                                                    <li>
                                                        <figure><img src="{{ notification.sender.profile.avatar.url }}" alt="">
                                                        </figure>
                                                        <div class="notifi-meta">
                                                            <p>{{ notification.content|safe }}</p>
                                                            <span><i class="{% if notification.notification_type == 'friend_request' or notification.notification_type == 'friend_request_accepted' %}fa fa-user {% else %}fa fa-comment{% endif %}"></i> {{ notification.created_at|timesince_filter }} ago</span>
                                                            {% if notification.notification_type == 'friend_request' and not notification.is_actioned %}
                                                            	<div class="mt-3 friend-request" data-sender-id="{{ notification.sender.id }}">
                                                                    <a href="" class="btn btn-primary accept-friend-request">Accept</a>
                                                                    <a href="" class="btn btn-danger reject-friend-request">Reject</a>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="more">
                                                            <div class="more-post-optns"><i class="ti-more-alt"></i>
                                                                <ul>
                                                                    <li><i class="fa fa-bell-slash-o"></i>Mute</li>
                                                                    <li><i class="fa fa-wpexplorer"></i>Report</li>
                                                                    <li><i class="fa fa-bell-slash-o"></i>Block</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <i class="del ti-close"></i>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- centerl meta -->
                            <div class="col-lg-3">
                                <aside class="sidebar static">
                                    <div class="widget">
                                        <div class="banner medium-opacity bluesh">
                                            <div class="bg-image"
                                                 style="background-image: url(images/resources/baner-widgetbg.jpg)"></div>
                                            <div class="baner-top">
                                                <span><img alt="" src="images/book-icon.png"></span>
                                                <i class="fa fa-ellipsis-h"></i>
                                            </div>
                                            <div class="banermeta">
                                                <p>
                                                    create your own favourit page.
                                                </p>
                                                <span>like them all</span>
                                                <a data-ripple="" title="" href="#">start now!</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget stick-widget">
                                        <h4 class="widget-title">Who's follownig</h4>
                                        <ul class="followers">
                                            <li>
                                                <figure><img src="images/resources/friend-avatar2.jpg" alt=""></figure>
                                                <div class="friend-meta">
                                                    <h4><a href="time-line.html" title="">Kelly Bill</a></h4>
                                                    <a href="#" title="" class="underline">Add Friend</a>
                                                </div>
                                            </li>
                                            <li>
                                                <figure><img src="images/resources/friend-avatar4.jpg" alt=""></figure>
                                                <div class="friend-meta">
                                                    <h4><a href="time-line.html" title="">Issabel</a></h4>
                                                    <a href="#" title="" class="underline">Add Friend</a>
                                                </div>
                                            </li>
                                            <li>
                                                <figure><img src="images/resources/friend-avatar6.jpg" alt=""></figure>
                                                <div class="friend-meta">
                                                    <h4><a href="time-line.html" title="">Andrew</a></h4>
                                                    <a href="#" title="" class="underline">Add Friend</a>
                                                </div>
                                            </li>
                                            <li>
                                                <figure><img src="images/resources/friend-avatar8.jpg" alt=""></figure>
                                                <div class="friend-meta">
                                                    <h4><a href="time-line.html" title="">Sophia</a></h4>
                                                    <a href="#" title="" class="underline">Add Friend</a>
                                                </div>
                                            </li>
                                            <li>
                                                <figure><img src="images/resources/friend-avatar3.jpg" alt=""></figure>
                                                <div class="friend-meta">
                                                    <h4><a href="time-line.html" title="">Allen</a></h4>
                                                    <a href="#" title="" class="underline">Add Friend</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div><!-- who's following -->
                                </aside>
                            </div><!-- sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            // Xử lý yêu cầu chấp nhận kết bạn
            $('.accept-friend-request').on('click', function (event) {
                event.preventDefault();

                let requestId = $(this).closest('.friend-request').data('sender-id');

                $.ajax({
                    url: `/respond-to-friend-request/${requestId}/accept/`,
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        $(`.friend-request[data-sender-id="${requestId}"]`).remove(); // Xóa yêu cầu khỏi danh sách
                    },
                    error: function (xhr) {
                        alert('Có lỗi xảy ra, vui lòng thử lại.');
                    }
                });
            });

            // Xử lý yêu cầu từ chối kết bạn
            $('.reject-friend-request').on('click', function (event) {
                event.preventDefault();

                let requestId = $(this).closest('.friend-request').data('sender-id');

                $.ajax({
                    url: `/respond-to-friend-request/${requestId}/reject/`,
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        $(`.friend-request[data-sender-id="${requestId}"]`).remove(); // Xóa yêu cầu khỏi danh sách
                    },
                    error: function (xhr) {
                        alert('Có lỗi xảy ra, vui lòng thử lại.');
                    }
                });
            });
        });
    </script>
{% endblock %}