{% extends './base.html' %}

{% block title %}

{% endblock %}


{% block content %}

    <div class="container my-5" style="min-height: 70vh">
        <center class="mt-5"><h1>Report list</h1></center>
        <ul>
            {% for report in reports %}
                {% if report.is_resolve %}
                    <li>
                        <a class="text-success" href="{% url 'report_post_detail' report.id %}">{{ report }}</a>
                    </li>
                {% else %}
                    <li>
                        <a class="text-danger" href="{% url 'report_post_detail' report.id %}">{{ report }}</a>
                    </li>
                {% endif %}

            {% endfor %}

        </ul>
    </div>
{% endblock %}