{% extends './base.html' %}

{% block title %}

{% endblock %}


{% block content %}
	<section>
		<div class="gap2 gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row merged20" id="page-contents">
							{% include 'partial/user-profile.html' %}<!-- user profile banner  -->
							<div class="col-lg-12">
								<div class="central-meta">
									<div class="title-block">
										<div class="row">
											<div class="col-lg-6">
												<div class="align-left">
													<h5>Friends <span>{{ friends_count }}</span></h5>
												</div>
											</div>
											<div class="col-lg-6">

											</div>
										</div>
									</div>
								</div><!-- title block -->
								<div class="central-meta padding30">
									<div class="row merged20">
										{% for friend in friends %}
											<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="friend-block">
												<div class="more-opotnz">
													<i class="fa fa-ellipsis-h"></i>
													<ul>
														{% if user == request.user %}
															<li><a href="{% url 'unfriend_user' friend.id %}" title="">Unfriend</a></li>
														{% endif %}

													</ul>
												</div>
												<figure>
													<img src="{{ friend.profile.avatar.url }}" alt="">
												</figure>

												<div class="frnd-meta">
													<div class="frnd-name">
														<a href="#" title="">{{ friend.first_name }} {{ friend.last_name }}</a>
														<span>Los Angeles, CA</span>
													</div>
													<a class="" href="{% url 'user_profile' friend.id %}" title="">Profile</a>
												</div>
											</div>
										</div>

										{% endfor %}

									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- content -->
{% endblock %}