{% extends './base.html' %}


{% block title %}

{% endblock %}

{% block content %}
    <section>
        <div class="gap2 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row merged20" id="page-contents">
                            {% include 'partial/user-profile.html' %}<!-- user profile banner  -->
                            <div class="col-lg-3">
                                <aside class="sidebar static">
                                    <div class="widget">
                                        <h4 class="widget-title">Shortcuts</h4>
                                        <ul class="naves">
                                            <li>
                                                <i class="ti-clipboard"></i>
                                                <a href="newsfeed.html" title="">News feed</a>
                                            </li>
                                            <li>
                                                <i class="ti-mouse-alt"></i>
                                                <a href="inbox.html" title="">Inbox</a>
                                            </li>
                                            <li>
                                                <i class="ti-files"></i>
                                                <a href="fav-page.html" title="">My pages</a>
                                            </li>
                                            <li>
                                                <i class="ti-user"></i>
                                                <a href="timeline-friends.html" title="">friends</a>
                                            </li>
                                            <li>
                                                <i class="ti-image"></i>
                                                <a href="timeline-photos.html" title="">images</a>
                                            </li>
                                            <li>
                                                <i class="ti-video-camera"></i>
                                                <a href="timeline-videos.html" title="">videos</a>
                                            </li>
                                            <li>
                                                <i class="ti-comments-smiley"></i>
                                                <a href="messages.html" title="">Messages</a>
                                            </li>
                                            <li>
                                                <i class="ti-bell"></i>
                                                <a href="notifications.html" title="">Notifications</a>
                                            </li>
                                            <li>
                                                <i class="ti-share"></i>
                                                <a href="people-nearby.html" title="">People Nearby</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-bar-chart-o"></i>
                                                <a href="insights.html" title="">insights</a>
                                            </li>
                                            <li>
                                                <i class="ti-power-off"></i>
                                                <a href="landing.html" title="">Logout</a>
                                            </li>
                                        </ul>
                                    </div><!-- Shortcuts -->
                                    <div class="widget">
                                        <h4 class="widget-title">Profile intro</h4>
                                        <ul class="short-profile">
                                            <li>
                                                <span>about</span>
                                                <p>Hi, i am jhon kates, i am 32 years old and worked as a web developer
                                                    in microsoft company. </p>
                                            </li>
                                            <li>
                                                <span>fav tv show</span>
                                                <p>Sacred Games, Spartcus Blood, Games of theron</p>
                                            </li>
                                            <li>
                                                <span>favourit music</span>
                                                <p>Justin Biber, Nati Natsha, Shakira</p>
                                            </li>
                                        </ul>
                                    </div><!-- profile intro widget -->

                                </aside>
                            </div><!-- sidebar -->
                            <div class="col-lg-9">
                                <div class="central-meta">
                                    <div class="title-block">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="align-left">
                                                    <h5>Photos <span>{{ images.count }}</span></h5>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row merged20">
                                                    <div class="col-lg-7 col-md-7 col-sm-7">

                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <div class="select-options">
                                                            <select name="sort" class="select" id="select">
                                                                <option value="newest">Newest</option>
                                                                <option value="oldest" {% if sort_by == 'oldest' %}selected{% endif %}>Oldest</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                                        <div class="option-list">
                                                            <i class="fa fa-ellipsis-v"></i>
                                                            <ul>
                                                                <li class="active"><i class="fa fa-check"></i><a
                                                                        title="" href="#">Show Public</a></li>
                                                                <li><a title="" href="#">Show only Friends</a></li>
                                                                <li><a title="" href="#">Hide all Posts</a></li>
                                                                <li><a title="" href="#">Mute Notifications</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- title block -->
                                <div class="central-meta">
                                    <div class="row merged5">
                                        {% for image in images %}
                                        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                            <div class="item-box">
                                                <a class="strip" href="{{ image.image.url }}" title=""
                                                   data-strip-group="mygroup" data-strip-group-options="loop: false">
                                                    <img src="{{ image.image.url }}" alt="" style="width: 204px;height: 204px"></a>
                                                <div class="over-photo">

                                                    <span>{{ image.uploaded_at|date }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div><!-- photos -->
                            </div><!-- centerl meta -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script>
    const selectElement = document.getElementById('select');
    selectElement.onchange = function() {
        console.log('doi ne')
        const selectedValue = selectElement.value;
        window.location.href = `${window.location.origin + window.location.pathname}?sort=${selectedValue}`;
    }
    </script>
{% endblock %}