{% extends './base.html' %}

{% block title %}

{% endblock %}


{% block content %}
	<section>
		<div class="gap2 gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row merged20" id="page-contents">
							{% include 'partial/user-profile.html' %}<!-- user profile banner  -->
							<div class="col-lg-4 col-md-4">
								<aside class="sidebar">
								<div class="central-meta stick-widget">
									<span class="create-post">Personal Info</span>
									<div class="personal-head">
										<span class="f-title"><i class="fa fa-user"></i> About Me:</span>
										<p>
                                            {{ user.profile.bio }}
										</p>
										
										<span class="f-title"><i class="fa fa-phone"></i> Phone Number:</span>
										<p>
											{{ user.profile.phone }}
										</p>
										
										<span class="f-title"><i class="fa fa-male"></i> Gender:</span>
										<p>
                                            {{ user.profile.gender|capfirst }}
										</p>
										
										<span class="f-title"><i class="fa fa-handshake-o"></i> Joined:</span>
										<p>
                                            {{ user.profile.created_at }}
										</p>

                                        <hr>
                                        {% if request.user == user %}
                                        	<a href="{% url 'delete_account' %}" class="btn btn-danger">Delete account</a>
                                        {% endif %} 

									</div>
								</div>
								</aside>
							</div>
							<div class="col-lg-8 col-md-8">

								<div class="central-meta">
									<span class="create-post">Photos ({{ images.count }}) <a href="timeline-photos.html" title="">See All</a></span>
									<ul class="photos-list">
                                        {% for image in images %}
                                        	<li>
											<div class="item-box">
												<a class="strip" href="{{ image.image.url }}" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
												<img src="{{ image.image.url }}" alt="" style="width: 130px;height: 98px"></a>
												<div class="over-photo">
													<div class="likes heart" title="Like/Dislike">❤ <span>15</span></div>
													<span>20 hours ago</span>
												</div>
											</div>
										</li>
                                        {% endfor %}
										
									</ul>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- content -->

{% endblock %}